<launch>  
  <arg name="joy_dev" default="/dev/input/js0"/>
  <arg name="netft_host" default=""/>
  <arg name="start_joy" default="true"/>
  <arg name="abb_irc5_uri" default="http://192.168.125.1/"/>
  <arg name="abb_irc5_rapid_auto_stop" default="true"/>

  <node respawn="true" pkg="joy" type="joy_node" name="joy" if="$(arg start_joy)">
    <param name="dev" type="string" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="20" />
  </node>

  <node name="arm_composites_manufacturing_controller" pkg="rpi_arm_composites_manufacturing_abb_egm_controller" type="arm_composites_manufacturing_controller" required="true">
    <param name="netft_host" value="$(arg netft_host)"/>    
  </node>

  <node name="abb_irc5_rapid_node" pkg="rpi_arm_composites_manufacturing_abb_egm_controller" type="abb_irc5_rapid_node" required="true">
    <param name="abb_irc5_uri" value="$(arg abb_irc5_uri)"/>
    <param name="abb_irc5_rapid_auto_stop" value="$(arg abb_irc5_rapid_auto_stop)"/>
  </node>

  <node pkg="rosservice" type="rosservice" name="start_rapid" args="call --wait rapid/start True forever"/> 

</launch>
